extends layout

block content
  .container
    .row.mt-5
      .col-md-4
      .col-md-4
        if !message
          form(action=`/api/charge/${amount}`, method="post")
            article
              label= `Amount: $${(amount / 100).toFixed(2)}`
            script(
              src="//checkout.stripe.com/v2/checkout.js",
              class="stripe-button",
              data-key=publicKey,
              data-locale="auto",
              data-description="Sample Charge",
              data-amount=amount)
        else
          h4=message
